:root {
  --main-bg-color: #d5ffff;
  --secondary-color: #6d4810;
  --title-color: #fff;
  --red-color: #f86868;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: auto !important;
  height: 100%;
  min-height: 100%;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 13px;
  color: #cccccc;
  background: url(https://www.istockphoto.com/video/front-view-of-an-old-fashioned-antique-super-8mm-film-projector-projecting-a-beam-of-gm839995972-137357767);
  background-size: 100%;
  background-color: var(--main-bg-color);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}
